/* .box{
    background-image: url("../../Assets/Events/C1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 80%;
    height: 100vh;
    width:auto;
} */

.box2{
    height:12rem;
}

.card2{
    height:12rem;
}

.CatagoryButton{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 3rem 0rem 0rem 0rem;
    border: none;
}

.btn{
    padding: 1rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.2rem;
}

.heading{
    margin:auto;
    text-align: center;
    font-size: 4rem;
}



.man{
    margin:1rem 2rem 2rem 1rem;
}

.bg{
    display: flex;
    background-image: url("./galleryCover.png");
    height: 58vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.Covers{
    font-size: 8rem;
    color: white;
    font-family: serif;
}