/* .box{
    background-image: url("../../Assets/Events/C1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 80%;
    height: 100vh;
    width:auto;
} */

.box2{
    height:12rem;
}

.card2{
    height:12rem;
}

.CatagoryButton{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 3rem 0rem 0rem 0rem;
    border: none;
}

.btn{
    padding: 1rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.2rem;
}

.heading{
    margin:auto;
    text-align: center;
    font-size: 4rem;
}



.man{
    margin:1rem 2rem 2rem 1rem;
}

.bg{
    display: flex;
    background-image: url("./galleryCover.png");
    height: 58vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.Covers{
    font-size: 8rem;
    color: white;
    font-family: serif;
}

.display{
    display: grid;
   grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
    /* grid-template-areas: 
    "R1 R2 R3 R4"
    "R1 R2 R3"
    "R1 R2 R5"; */
    grid-gap: 1rem;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    margin: 3rem;
    /* align-items: flex-start; */
}

.R1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 10;
    
}

.R2{
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 6;
    grid-row-end: 11;
}

.R3{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 11;
    
}

.R4{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 11;
    grid-row-end: 16;

    
}

.R5{
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 5;

    
}


.R6{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 16;

  
}

.R7{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: -1;
    grid-row-end: 6;
}