li{
   
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 2rem 2rem;
    position: static;
}
    
.nav_text{
    text-decoration: none;
    display: flex;
    color:white;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: static;
    

}

.mainNav{
    backdrop-filter: blur(4px);
}


.navList{
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* background-color: rgba(0, 0, 0, 0.658); */
    /* filter: blur(2px); */
    position: static;
}

.line{
    background-color: rgb(255, 255, 255);
    width:100vw;
    height:0.04rem;
}

#id{
    display:flex;
    align-items: center;

}