/* .main_container{
  background-image: url('./page/LandingPage/main_bg.jpeg');
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  padding: none;
  color: aliceblue;
  z-index: -1;
} */